body {
  background-color: #121212;
  color: #f1f1f1;
}

a,
a:hover {
  color: #66b2ff;
}

.bg-light {
  background-color: #1e1e1e !important;
}

.card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #2e2e2e;
}

.btn-outline-primary {
  color: #66b2ff;
  border-color: #66b2ff;
}

.btn-outline-primary:hover {
  background-color: #66b2ff;
  color: #121212;
}

.navbar {
  background-color: #1c1c1c !important;
}

.navbar-brand,
.nav-link {
  color: #f1f1f1 !important;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.project-img {
  height: 350px;
  object-fit: cover;
}
