/* Light Theme (default) */
:root {
  --bg: white;
  --text: #222;
  --accent: #0d6efd;
}

body {
  background-color: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid #ccc;
}

a.btn {
  border-color: var(--accent);
  color: var(--accent);
}

a.btn:hover {
  background-color: var(--accent);
  color: white;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.project-img {
  height: 350px;
  object-fit: cover;
}
